# Lab 5

This lab will focus on content from chapters 11, 12, and 13 covering reading files, tidying data, and briefly cover relational data.

## Table of Contents
* [Review](#Review)
* [Explore](#Explore)
* [Exercises](#Exercises)

In [1]:
library(tidyverse)

Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
filter(): dplyr, stats
lag():    dplyr, stats

## Review

### Reading in Files

If we want to read files into R, the package in tidyverse to use is `readr`. There are ways to read files into R using base R, but normally these are slower and bit less flexible. The main functions in `readr` we will use are:
* read_delim(), read_tsv(), read_csv(): Reads in local files with most common delimiters (e.g. comma, tab, semicolon, etc.)
* read_fwf(): Reads in local files that are a fixed width type (less common in practice)
* read_log(): Reads in Apache log files (less common for types of DS work)

### Parsing Data

Most of the common parsers are as follows:
* parse_logical(), parse_integer()
* parse_number(), parse_double()
* parse_character()
* parse_factor()
* parse_datetime(), parse_date(), parse_time()

### How does readr automatically know how to parse your entire table?

The way that `readr` knows how to read your file is by reading the first 1000 rows of your data and then taking a guess as to the data type of each column of data. To see this action you can play around with the following function:

In [8]:
guess_parser("2010-10-01")
guess_parser("15:01")
guess_parser(c("TRUE", "FALSE"))

[1] "date"

[1] "time"

[1] "logical"

The general process that `readr` follows is this:

The heuristic tries each of the following types, stopping when it finds a match:
* logical: contains only “F”, “T”, “FALSE”, or “TRUE”.
* integer: contains only numeric characters (and -).
* double: contains only valid doubles (including numbers like 4.5e-5).
* number: contains valid doubles with the grouping mark inside.
* time: matches the default time_format.
* date: matches the default date_format.
* date-time: any ISO8601 date.

If none of these rules apply, then the column will stay as a vector of strings.

### Writing data in R to a local file

The two main ways `readr` has to write dataframes or tibbles from R into local files (e.g. an excel csv, etc.) are as follows:
* write_csv()
* write_tsv()

### What if I don't see the file type I need to read into R?

**Google it!**  No, seriously, R has thousands of packages available that mean there is someone out there that has had to read in whatever type of file you need. R can read in database files, HTML files, SAS files, and almost any other type of file you can imagine. Just search for example code.

### Tidying up Data

In order to get your data in a tidy format with each row as an observation, sometimes you need to widen or lengthen your data by adding or removing columns. The key functions needed to do this in tidyverse are:
* gather(): Requires the columns to be converted to rows, the name of the column you want to bring these other columns in to, and the values you want to populate for each column
* spread(): Requires the column name you want to spread into multiple columns and the value column you want to populate with these new columns.
* separate(): Takes an existing column from a tibble and can break apart the data into multiple columns based on a delimiter (e.g. I would use separate to take abc@gmail.com and split this into two columns, 'abc' and 'gmail.com')
* unite(): Opposite of separate(), you can take multiple columns and push them together with a separater in between.

### Relational Data

Relational data is a common format for databases of data where multiple tables brought together and organized in a way that you can 'join' tables together to get more information. The simple example below shows multiple tables related to sales in a store. Note that there is a:
* Primary key: An ID that uniquely identifies an observation in its own table
* Foreign key: An ID that uniquely identifies an observation in another table

![Simple Relational Tables](simplestar.png)

The main ways that the primary and foreign keys can be related to one another are as follows:
* One-to-many. (Most common). For example, each flight has one plane, but each plane has many flights. 
* Many-to-many: For example, each airline flies to many airports; each airport hosts many airlines.
* One-to-one. Each row in one table corresponds uniquely to a row in a second table. This is relatively uncommon

If we want to join these tables together there are actually multiple ways to do this:
* Inner Join: Only join on key matches in both tables
* Left Join (Outer Join): Keep all items from the left table, join on matches for the right
* Right Join (Outer Join): Keep all items from the right table, join on matches for the left
* Full Join (Outer Join): Keep all items from each table and just add nulls for missing keys

## Explore

This lab will focus on the exercises section!

---

## Exercises

### Section 11

In [ ]:
#What function would you use to read a file where fields were separated with“|”?

In [ ]:
#Apart from file, skip, and comment, what other arguments do read_csv() and read_tsv() have in common?

In [ ]:
# Sometimes strings in a CSV file contain commas. To prevent them from causing problems they need
# to be surrounded by a quoting character, like " or '. By convention, read_csv() assumes that the
# quoting character will be ", and if you want to change it you’ll need to use read_delim() instead.
# What arguments do you need to specify to read the following text into a data frame?

"x,y\n1,'a,b'"

In [7]:
#What are the most important arguments to locale()?

In [ ]:
# What happens if you try and set decimal_mark and grouping_mark to the same character? What
# happens to the default value of grouping_mark when you set decimal_mark to “,”? What happens to
# the default value of decimal_mark when you set the grouping_mark to “.”?

In [ ]:
# Generate the correct format string to parse each of the following dates and times:
d1 <- "January 1, 2010"
d2 <- "2015-Mar-07"
d3 <- "06-Jun-2017"
d4 <- c("August 19 (2015)", "July 1 (2015)")
d5 <- "12/30/14" # Dec 30, 2014
t1 <- "1705"
t2 <- "11:15:10.12 PM"

### Section 12

In [9]:
#Using prose, describe how the variables and observations are organised in each of the sample tables.

In [17]:
# Compute the rate for table2, and table4a + table4b. You will need to perform four operations:
# 1. Extract the number of TB cases per country per year.
# 2. Extract the matching population per country per year.
# 3. Divide cases by population, and multiply by 10000.
# 4. Store back in the appropriate place.

table2 # Cases and populations in one table
table4a #number of cases
table4b #populations

  country     1999   2000
1 Afghanistan    745   2666
2 Brazil       37737  80488
3 China       212258 213766

In [ ]:
# Why are gather() and spread() not perfectly symmetrical?
# Carefully consider the following example:
# (Hint: look at the variable types and think about column names.)
# Both spread() and gather() have a convert argument. What does it do?

stocks <- tibble(
    year = c(2015, 2015, 2016, 2016),
    half = c( 1, 2, 1, 2),
    return = c(1.88, 0.59, 0.92, 0.17)
    )

stocks %>%
    spread(year, return) %>%
    gather("year", "return", `2015`:`2016`)

In [ ]:
#Why does this code fail?
table4a %>%
    gather(1999, 2000, key = "year", value = "cases")

In [ ]:
# Why does spreading this tibble fail? How could you add a new column to fix the problem?

people <- tribble(
    ~name, ~key, ~value,
    #-----------------|--------|------
    "Phillip Woods", "age", 45,
    "Phillip Woods", "height", 186,
    "Phillip Woods", "age", 50,
    "Jessica Cordero", "age", 37,
    "Jessica Cordero", "height", 156
    )

In [ ]:
# Tidy the simple tibble below. Do you need to spread or gather it? What are the variables?

preg <- tribble(
    ~pregnant, ~male, ~female,
    "yes", NA, 10,
    "no", 20, 12
    )

In [ ]:
# What do the extra and fill arguments do in separate()? Experiment with the various options for
# the following two toy datasets.

tibble(x = c("a,b,c", "d,e,f,g", "h,i,j")) %>%
    separate(x, c("one", "two", "three"))

tibble(x = c("a,b,c", "d,e", "f,g,i")) %>%
    separate(x, c("one", "two", "three"))

In [ ]:
# Compare and contrast separate() and extract(). Why are there three variations of separation (by
# position, by separator, and with groups), but only one unite?

In [ ]:
# Compare and contrast the fill arguments to spread() and complete().

In [ ]:
# What does the direction argument to fill() do?

### Section 13

In [ ]:
# weather only contains information for the origin (NYC) airports. If it contained weather records for
# all airports in the USA, what additional relation would it define with flights?

In [ ]:
#  We know that some days of the year are “special”, and fewer people than usual fly on them. How
# might you represent that data as a data frame? What would be the primary keys of that table? How
# would it connect to the existing tables?

In [ ]:
# Identify the keys in the following datasets
# 1. Lahman::Batting,
# 2. babynames::babynames
# 3. nasaweather::atmos
# 4. fueleconomy::vehicles
# 5. ggplot2::diamonds